Source: efind
Section: utils
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), appver, xsltproc, docbook-xsl
Standards-Version: 1.0.0

Package: efind
Architecture: all
Depends: html2text, unzip, poppler-utils
Recommends: xml2, unoconv
Description: extended recursive search for documents, searching in filenames & contents, \
	case in/-sensitive, with whitespaces support and optimized for git checkout repos

